---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import myphoto from '../assets/myphoto.jpeg';

import Navigation from '../components/Navigation.astro';
import "../styles/global.css";
---

<div id="container">

	<!-- ✅ Navigation bar inserted here -->
	<Navigation />

	<img id="profile_img" src={myphoto.src} alt="" fetchpriority="high" />



	<main>
		<section id="hero">
				<img src={astroLogo.src} width="20" height="20" alt="Astro Homepage" />
Welcome! I am a Ph.D. student in the Department of Electrical Engineering at the Korea Advanced Institute of Science and Technology (KAIST), where I am fortunate to be advised by <a href="https://sites.google.com/site/donghwanleehome">Professor Donghwan Lee</a>. I received my Bachelor's degree from Korea University in 2021 and completed my Master's degree at KAIST in 2023.</p>

<p>
 My research centers on the theoretical underpinnings of reinforcement learning and control theory, with a particular interest in developing rigorous frameworks that bridge the gap between learning-based decision-making and classical control methodologies.
</p>

<p>
My email is limaries30 at kaist dot ac dot kr and you can find my CV in this <a href="https://www.overleaf.com/read/ngpsmwbrtmkx#d9ed56">link</a>.
</p>
			</section>
		</section>
	</main>

	<!-- ...rest of content (news section etc.) -->
</div>
